

<% if @membership.admin? %>
  <div style="margin: 10px 0">
    <a class="btn btn-primary" href="/a/<%=@group.slug%>/rotas/new"><i class="fa fa-plus-circle"></i> Create a rota</a>
  </div>
<% end %>

<% @group.rotas.each { |rota| %>
  <h2>
    <a href="/a/<%=@group.slug%>/rotas/<%=rota.id%>">
      <%=rota.name%>
    </a>  
  </h2>  
<% } %>