<%= partial :'gatherings/nav', locals: {gathering: @gathering, membership: @membership} %>

<div style="margin: 10px 0">
  <a class="btn btn-primary" href="javascript:;" onclick="$(this).hide().next().show()"><i class="fa fa-plus-circle"></i> List transport</a>
  <div style="display: none">
    <%= partial :'transports/build' %>  
  </div>
</div>

<div data-pagelet-url="/a/<%=@gathering.slug%>/transports">
  <%= partial :'transports/transports' %>
</div>