<%= partial :group_header %>

<% if @membership.admin? %>
  <div style="margin: 10px 0">
    <a class="btn btn-primary" href="javascript:;" onclick="$(this).hide().next().show()"><i class="fa fa-plus-circle"></i> List a tier</a>
    <div style="display: none" class="tier-form">
      <%= partial :'tiers/build' %>  
    </div>
  </div>
<% end %>

<div data-pagelet-url="/h/<%=@group.slug%>/tiers">
  <%= partial :'tiers/tiers' %>
</div> 