<div class="media" style="margin-top: 0">
  <span class="pull-left">
    <%= partial :'accounts/square', :locals => {:account => current_account, :width => '32px', :klass => 'media-object'} %>
  </span>
  <div class="media-body">
    <%= partial :'comments/comment_form', :locals => {:comment => commentable.comments.build} %>
  </div>
</div> 

<% (@posts = commentable.posts.order('updated_at desc').paginate(:page => params[:page], :per_page => 10)).each { |post| %>
  <% if post.comments.count > 0 %>
    <div data-pagelet-url="/posts/<%=post.id%>">
      <%= partial :'comments/post', :object => post %>
    </div>
  <% end %>
<% } %>