<script>
  $(function () {

    $('#comment-edit-<%=comment.id%>').click(function () {
      var textarea = $('<textarea class="form-control"></textarea>');
      var comment = $(this).closest('.comment')
      var commentBody = comment.find('.comment-body')
      var destroy = $('<a class="btn btn-danger btn-sm text-white my-1">Delete</a>')
      destroy.attr('href', '/comments/' + comment.attr('data-comment-id') + '/destroy')

      textarea.insertAfter(commentBody).val(commentBody.attr('data-original'))
      destroy.insertAfter(textarea)
      commentBody.hide()
      textarea.blur(function () {
        $.post('/comments/' + comment.attr('data-comment-id') + '/edit', {body: textarea.val()}, function () {
          commentBody.attr('data-original', textarea.val())
          commentBody.html(textarea.val()).show()
          textarea.remove()
          destroy.remove()
        })
      })
    })

  })
</script>