<%= partial :'groups/header' %>

<div class="row">
  <div class="col-sm-4">
    <%= partial :'comments/comment_form', :locals => {:comment => @comment} %>      

    <% if @comment.options.count > 0 %>
      <h3>Options</h3>
      <% @comment.options.each { |option| %>
        <label style="background: #FDF8FD; padding: 5px; margin: 0; display: inline-block ">
          <%= option.text %> <a data-confirm="Are you sure you want to delete this option?" href="/options/<%=option.id%>/destroy"><i class="fa fa-times"></i></a>
        </label>
      <% } %>
    <% end %>
  </div>
</div>