

<% if @membership.admin? %>
  <div style="margin: 10px 0">
    <a class="btn btn-primary" href="/a/<%=@group.slug%>/timetables/new"><i class="fa fa-plus-circle"></i> Create a timetable</a>
  </div>
<% end %>

<% @group.timetables.each { |timetable| %>
  <h2>
    <a href="/a/<%=@group.slug%>/timetables/<%=timetable.id%>">
      <%=timetable.name%>
    </a>  
  </h2>
<% } %>