
<% if organisation.persisted? && organisation_admin? %>
  <div class="mb-3">
    <%= ul_nav [
      ['View organisation', "/organisations/#{organisation.id}"],
      ['Edit organisation', "/organisations/#{organisation.id}/edit"],      
      ['Event stats', "/organisations/#{organisation.id}/events/stats"],
      ['Mailer', "/organisations/#{organisation.id}/pmails"]      
      ].compact, ul_class: 'nav nav-tabs', li_class: 'nav-item', a_class: 'nav-link' %>
  </div>
<% end %>

