
<a class="d-block text-white p-2" href="/a/<%=group.slug%>" style="height: 160px; background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('<%=group.cover_image.try(:url)%>'); background-size: cover; background-position: center center;" class="group">             
  <h3>
    <%=group.name%>
  </h3> 
</a>
