<script>
  $(function () {
    $('#group-nav-show').click(function () {
      $('#group-nav > ul').slideDown('fast');
      $('#group-nav-hide').show()
      $(this).hide()
    })
    $('#group-nav-hide').click(function () {
      $('#group-nav > ul').slideUp('fast');
      $('#group-nav-show').show()
      $(this).hide()
    })
  })
</script>


<div id="group-nav" class="mb-3 bg-dark p-1 rounded">   
  <a class="text-white bg-dark p-1 rounded float-right" style="display: none" href="javascript:;" id="group-nav-show"><i class="fa fa-navicon"></i></a>
  <a class="text-white bg-dark p-1 rounded float-right" style="display: inline-block" href="javascript:;" id="group-nav-hide"><i class="fa fa-times"></i></a>
  <%= ul_nav [
    ["Home", "/a/#{group.slug}"],
    (["Settings", "/a/#{group.slug}/edit"] if membership.admin),
    ([%Q{Balance <span class="label label-inverse">#{number_to_currency group.balance, unit: group.currency_symbol, precision: 0}</span>}, "/a/#{group.slug}/balance"]  if membership.admin),                   
    [%Q{Members <span class="label label-inverse">#{group.member_limit ? %Q{#{group.memberships.count}/#{group.member_limit}} : group.memberships.count}</span>}, "/a/#{group.slug}/members"],
    ([%Q{Applications #{if group.mapplications.pending.count > 0; %Q{<span class="label label-inverse">#{group.mapplications.pending.count}</span>} end}}, "/a/#{group.slug}/applications"] if group.enable_applications or group.mapplications.where(:status.ne => 'accepted').count > 0),        
    (["Teams",
        (
          group.teams(true).order('name asc').map { |team| [%Q{
            #&nbsp;#{team.name}
            #{
              # if (unread = team.comments.where(:id.nin => current_account.read_receipts.pluck(:comment_id)).count) > 0; %Q{<span class="label label-inverse" title="#{pluralize(unread, 'unread comment')}">#{unread}</span>}; end
            }}, "/a/#{group.slug}/teams/#{team.id}"] } + [['Overview', "/a/#{group.slug}/teams"], ['Create a team', "/a/#{group.slug}/teams/new"]]
        )              
        ] if group.enable_teams),      
    (["Timetables",
        (
          group.timetables(true).map { |timetable| [timetable.name, "/a/#{group.slug}/timetables/#{timetable.id}"] } + (membership.admin? ? [['Create a timetable', "/a/#{group.slug}/timetables/new"]] : [])
        )
        ] if group.enable_timetables),
    (["Rotas",
        (
          group.rotas(true).map { |rota| [rota.name, "/a/#{group.slug}/rotas/#{rota.id}"] } + (membership.admin? ? [['Create a rota', "/a/#{group.slug}/rotas/new"]] : [])
        )              
        ] if group.enable_rotas),
    (["Tiers", "/a/#{group.slug}/tiers"] if group.enable_tiers),
    (["Accommodation", "/a/#{group.slug}/accoms"] if group.enable_accommodation),
    (["Transport", "/a/#{group.slug}/transports"] if group.enable_transport),        
    (["Inventory", "/a/#{group.slug}/inventory"] if group.enable_inventory),       
    (["Budget", "/a/#{group.slug}/budget"] if group.enable_budget)
    ].compact,
    ul_class: 'nav nav-pills',
    li_class: 'nav-item',
    li_active_class: nil,
    a_class: 'nav-link text-white',
    a_active_class: 'active',
    ul_id: nil,             
    subnav_li_class: 'nav-item dropdown',
    subnav_data_toggle: 'dropdown',
    subnav_a_class: 'nav-link dropdown-toggle text-white',
    subnav_caret: '<b class="caret caret-right pull-right ml-1"></b>',
    subnav_ul_class: 'dropdown-menu',
    subnav_li2_class: '',
    subnav_a2_class: 'dropdown-item',
    generate_subnav_href_and_ul: false
%>
  <span class="clearfix"></span>
</div>
