<% if membership.unsubscribed %>
  <% form_tag "/a/#{membership.group.slug}/subscribe", :style => 'display: inline' do %>
    <button class="btn btn-outline-primary mb-1"><i class="fa fa-bell-slash-o"></i> Email notifications off</button>
  <% end %>
<% else %>
  <% form_tag "/a/#{membership.group.slug}/unsubscribe", :style => 'display: inline' do %>
    <button class="btn btn-primary mb-1"><i class="fa fa-bell-o"></i> Email notifications on</button>
  <% end %>    
<% end %>