<% if membership.unsubscribed %>
  <a href="/a/<%=membership.group.slug%>/set_subscribe" class="pagelet-trigger btn btn-outline-primary mb-1"><i class="fa fa-bell-slash-o"></i> Email notifications off</a>
<% else %>
  <a href="/a/<%=membership.group.slug%>/unsubscribe" class="pagelet-trigger btn btn-primary mb-1"><i class="fa fa-bell-o"></i> Email notifications on</a>
<% end %>