

<p class="lead" style="margin: 15px 0">
  <strong><%=number_to_currency @group.balance, unit: @group.currency_symbol, precision: 0%></strong> is waiting to be paid out. Payouts are via PayPal.
</p>

<% form_for @group, "/a/#{@group.slug}/payout", :multipart => true do |f| %>
  <%= f.text_block :paypal_email %>
  <%= f.submit_block button_text: 'Request payout' %> 
<% end %>

