<%= partial :'gatherings/nav', locals: {gathering: @gathering, membership: @membership} %>

<% if admin? || @membership.admin? %>
  <div style="margin: 10px 0">
    <a class="btn btn-primary" href="javascript:;" onclick="$(this).hide().next().show()"><i class="fa fa-plus-circle"></i> List option</a>
    <div style="display: none" class="option-form">
      <%= partial :'options/build' %>  
    </div>
  </div>
<% end %>

<div data-pagelet-url="/a/<%=@gathering.slug%>/options">
  <%= partial :'options/options' %>
</div>