<% mapplication.answers.each { |q,a| if a %>
    <p style="font-size: 16px;"><strong><%=q%></strong></p>
    <p style="font-size: 16px; font-weight: 300"><%=a.gsub("\n","<br />")%></p>                    
  <% end } if mapplication.answers  %>              

<div data-pagelet-url="/commentable?commentable_type=Mapplication&commentable_id=<%=mapplication.id%>" style="margin-top: 20px">
  <%= partial :'comments/commentable', :locals => {:commentable => mapplication} %>
</div> 