
<div style="margin: 10px 0">
  <% if @group.member_limit %>
    <p style="font-size: 20px; margin: 0">
      <%= pluralize(@group.member_limit - @group.memberships.count, 'place') %> remaining
    </p>
  <% end %>

  <% if @group.fixed_threshold or @group.democratic_threshold %>
    <% if @group.threshold%>
      <p style="font-size: 20px; margin: 0">
        Automatically accepting applications with <%=@group.threshold%> proposers + supporters (with at least one proposer)
      </p>
    <% end %>

    <% if @group.democratic_threshold %>
      What do you think the magic number should be?
      <% form_tag "/a/#{@group.slug}/threshold", :style => 'display: inline' do %>
        <%= number_field_tag :desired_threshold, :min => 1, :class => 'form-control', :value => @membership.desired_threshold, :style => 'display: inline-block; width: 4em', :onchange => '$(this.form).submit()' %>
      <% end %> 
    <% end %>    
  <% end %>
</div>