<%= partial :group_header %>

<h2>
  Application by <a href="/accounts/<%=@mapplication.account_id%>"><%=@mapplication.account.name%></a>
</h2>

<%= partial :'mapplications/mapplication', :locals => {:mapplication => @mapplication} %>  