<% form_tag '', :class => 'form-inline no-trigger', :id => 'pay-form' do %>
  <div class="form-group mb-0">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><%=@gathering.currency_symbol%></span>
      </div>  
      <%= number_field_tag :amount, :value => (amount if defined?(amount)), :style => 'width: 5em;', :required => 'required', :class => 'form-control', :id => 'amount', :min => 10 %>
    </div>
  </div>  
  <button type="submit" class="btn btn-default ml-1" style="height: 2.125rem">Pay</button> 
<% end %>


<script>
  $(function () {
    $('#pay-form').submit(function () {

      $.post('/a/<%=@gathering.slug%>/pay', {amount: $('#amount').val()}, function (data) {
        var stripe = Stripe('<%=ENV['STRIPE_PK']%>');
        stripe.redirectToCheckout({
          sessionId: data['session_id']
        })
      }).fail(function () {
        $('#pay-form').hide()
        $('#card-error').show()
      }).always(function () {
        $('#pay-form').css('opacity', 1)
      })
      
      return false

    })
    console.log('paying')
  })
</script> 