<div class="row justify-content-between mb-3">
  <div class="col">
    <h1>Gatherings</h1>
  </div>
  <% if current_account %>
    <div class="col-auto">      
      <a class="btn btn-primary mt-1 mt-sm-0" href="/a/new"><i class="fa fa-plus-circle"></i> Create a gathering</a>
    </div>
  <% end %>
</div>

<div class="row">
  <% @gatherings.each { |gathering| %>
    <div class="col-6 col-sm-3 mb-3">
      <%= partial :'gatherings/gathering', :object => gathering  %>
    </div>
  <% } %>
</div>