
<style>
  #event_stats thead th { border-top: none }
</style>
<%= partial :'events/stats', :locals => {:events => Event.where(:id.in => [event.id])} %>

<% if event_admin? %>
  <div class="mb-3">
    <%= ul_nav [
      ['View event', "/events/#{event.id}"],
      ['Edit event', "/events/#{event.id}/edit"],      
      ['Facilitators', "/events/#{event.id}/facilitators"],
      (['Orders', "/events/#{event.id}/orders"] if (event.orders.count > 0)), 
      (['Tickets', "/events/#{event.id}/tickets"] if (event.ticket_types.count > 0 or event.tickets.count > 0)),       
      (['Donations', "/events/#{event.id}/donations"] if admin?),
      (['Waitlist', "/events/#{event.id}/waitlist"] if admin? && event.waitships.count > 0),
      ['Map of attendees', "/events/#{event.id}/map"],       
      ['Feedback', "/events/#{event.id}/feedback"],       
      ].compact, ul_class: 'nav nav-tabs', li_class: 'nav-item', a_class: 'nav-link' %>
  </div>
<% end %>

