<ul class="fa-ul">
  <% tickets.order('created_at desc').each { |ticket| %>
    <li><i class="fa fa-li fa-ticket"></i>             
      <a href="/events/<%=ticket.event_id%>/tickets">
        <%=ticket.event.summary %>
        <% if ticket.price %>
          (£<%=ticket.price%>)
        <% end %>
      </a>
    </li>
  <% } %>  
</ul>