<div class="mb-3">
  <% form_tag '', :class => 'form-inline', :style => 'display:inline', :method => 'get' do %>
    <%= text_field_tag :q, :class => 'form-control mr-1', :style => 'width: auto; display: inline-block', :placeholder => 'Search events', :value => params[:q] %>
  <% end %>
  <% if current_account %>
    <a  class="btn btn-primary mt-1 mt-sm-0" href="/events/new"><i class="fa fa-plus-circle"></i> List an event</a>
  <% end %>
</div>
<% @events = @events.paginate(:page => params[:page], :per_page => 50) %>
<%= partial :'events/blocks', :locals => {:events => @events} %>
<%= will_paginate @events, :inner_window => 0, :outer_window => 0, :renderer => WillPaginate::ViewHelpers::BootstrapRenderer %>
