<div class="row" id="rooms">
  <% rooms.each { |room| %>  
    <div data-pagelet-url="/rooms/<%=room.id%>/block" class="col-6 col-sm-3 mb-3 <%=block_class if defined?(block_class)%>" id="<%=room.id%>">
      <%= partial :'rooms/block', :locals => {:room => room} %>
    </div>
  <% } %>
</div>