<%= partial :block, locals: {
  title: room.name,
  image: room.photo.try(:image),
  view_url: "/rooms/#{room.id}",
  edit_url: "/rooms/#{room.id}/edit",
  admin: current_account && current_account.id == room.account_id,
  content: %Q{
  <ul style="margin-left: 1.4em" class="fa-ul #{room.photo ? 'text-white' : 'text-dark'}">
  <li><i class="fa fa-li fa-map-marker"></i> #{room.location.gsub(/#{room.name}[\w ]*,/i,'')}</li>
  <li><i class="fa fa-li fa-user"></i> Listed by <a class="#{room.photo ? 'text-white' : 'text-dark'}" href="/u/#{room.account.username}">#{room.account.name}</a></li>
  </ul>
}

  } %>

