@import url('/fonts/mellony/stylesheet.css');

@import "../infinite_admin/scss/style";

#content { background: white }

@media print {
  a[href]:after {
    content: none;
  }
}

.hw {
	font-family: 'mellony_dry_brushregular';
}

.navbar-brand .hw {
	font-size: 1.7rem;
	line-height: 1rem;
	position: relative;
}

img { image-orientation: from-image; }
.note-group-select-from-files { display: none }

.subtle { color: $color_grey !important }
.subtle.active, .subtle:hover { color: $color_primary !important }
.habit-completion-likes a:hover { color: $color_grey_hover !important }

.table-hr td:first-child { width: 1px; white-space: nowrap; font-weight: bold; padding-right: 1rem; }
.table-hr td { border: 0 !important; border-bottom: 0.1rem solid #eee !important; }

.activity a, .activity span { font-size: 0.8rem; color: white }
.activity, .activity-accept { height: 8rem }
td .activity, td .activity-accept { width: 16rem }
.activity h3 { line-height: 1.2rem }
.activity h3 a { font-size: 1.2rem }

textarea[id=comment_body] { height: 4em; overflow:hidden; }
textarea[id=verdict_reason] { height: 6em; }

.image-wall {
  content: "";
  display: table;
  clear: both;
}
.image-wall img { margin-right: 0.2rem; margin-bottom: 0.2rem; float: left }

.input-group-prepend { height: 2.125rem }
.badge { border-radius: 0.25rem }
