
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,700i,900,900i');
 @import url('https://fonts.googleapis.com/css?family=Pacifico');
 
p, ul, ol, input, select, .form-control, body { font-family: 'Raleway', 'Helvetica Neue',Helvetica,Arial,sans-serif }
h1, h2, h3, h4, h5, h6, .h { font-family: 'Raleway'; text-transform: uppercase; font-weight: 900 }
.hw { font-family: 'Pacifico'; text-transform: lowercase }

body { padding-bottom: 20px }

#alert-wrap { margin-top: 20px; position: absolute; z-index: 1040; width: 40%; margin-left: -20%; left: 50%; }

.navbar { border-radius: 0 }

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus { background: #CE2828 }
a, a:hover, a:focus { color: #CE2828 }

.btn { text-transform: none }

.btn-primary {
  background-color: #CE2828;
  border-color: #AA1C1C;
  color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-group.open .dropdown-toggle.btn-primary {
  background-color: #CE2828;
  border-color: #AA1C1C;
}

select[name$='[year]'], select[name$='[month]'], select[name$='[day]'], select[name$='[hour]'], select[name$='[min]'] { display:inline; width: auto } 

.badge, .label-primary { background: #CE2828 }

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: #CE2828;
  border-color: #AA1C1C;
}

.panel-primary > .panel-heading { background-color: #CE2828; }

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {  background-color: #CE2828; }