@import url('/fonts/mellony/stylesheet.css');

@import "../infinite_admin/scss/style";

body[contenteditable] { background: white }

#content { background: white }

@media print {
  a[href]:after {
    content: none;
  }
}

.hw {
  font-family: 'mellony_dry_brushregular';
}

.navbar-brand .hw {
  font-size: 1.6rem;
  line-height: 1rem;
  position: relative;
}

.note-group-select-from-files { display: none }

.subtle { color: $color_grey !important }
.subtle.active, .subtle:hover { color: $color_primary !important }
.habit-completion-likes a:hover { color: $color_grey_hover !important }

.message-preview:hover, .message-preview.active { background: $color_muted_transparent_3 }
.message-preview.unread { background: $color_primary_transparent_2 !important }

.table-hr td:first-child { width: 1px; white-space: nowrap; font-weight: bold; padding-right: 1rem; }
.table-hr td { border: 0 !important; border-bottom: 0.1rem solid #eee !important; }

.activity a, .activity span { font-size: 0.8rem; color: white }
.activity, .activity-accept { height: 8rem }
td .activity, td .activity-accept { width: 16rem }
.activity h3 { line-height: 1.2rem }
.activity h3 a { font-size: 1.2rem }

textarea[id=comment_body] { height: 4em; overflow:hidden; }
textarea[id=verdict_reason] { height: 6em; }

.image-wall {  }
.image-wall img { margin-bottom: 0.2rem; }

.input-group-prepend { height: 2.125rem }
.badge { border-radius: 0.25rem }

.alert button.close { font-size: 1rem }

li.reply .widget-chat-message a { color: white; text-decoration: underline }

.no-gutters>.col, .no-gutters>[class*=col-] {
  padding-right: 0 !important;
  padding-left: 0 !important; 
}

.pace .pace-activity { display: none }

.bgo:hover { opacity: 0 !important }

.rainbow  {
  margin: 0 auto;
  background: linear-gradient(to right, #8747e6, #47a6e6, #54e645); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

  h4.block-title { font-size: 1.25rem }
  @media(max-width: 768px) { 
    h4.block-title { font-size: 5vw }
  }
  
#group-nav ul li a { font-size: 0.75rem }
#group-nav .nav-link { padding: 0.33rem 0.66rem }
#group-nav .nav > li > a:focus, .nav > li > a:hover { background: $color_inverse }
#group-nav .nav-pills .nav-link.active, #group-nav .nav-pills .show>.nav-link { background: $color_inverse }

.sidebar.sidebar-inverse .nav > li.active > a,
.sidebar.sidebar-inverse .nav > li.active > a:hover,
.sidebar.sidebar-inverse .nav > li.active > a:focus { background: $color_inverse !important }

