
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

p, ul, ol, input, select, .form-control, body, .popover, .tooltip { font-family: 'Raleway', 'Helvetica Neue',Helvetica,Arial,sans-serif }
h1, h2, h3, h4, h5, h6, .h { font-family: 'Raleway'; text-transform: uppercase; font-weight: 900 }
.hw { font-family: 'Pacifico'; text-transform: lowercase }

body { padding-bottom: 20px }

img { image-orientation: from-image; }

.note-editor { margin-bottom: 0 }

input[name$='[day]'], input[name$='[month]'], input[name$='[year]'], select[name$='[hour]'], select[name$='[min]'] { display:inline; } 
input[name$='[day]'], input[name$='[year]'] { width: 4em }
input[name$='[month]'] { width: 8em }
select[name$='[hour]'], select[name$='[min]'] { width: 6em }
input[name$='[lat]'], input[name$='[lng]'] { display:inline; width: auto } 

#alert-wrap { margin-top: 20px; position: absolute; z-index: 1040; width: 40%; margin-left: -20%; left: 50%; }

.navbar { border-radius: 0 }

abbr[title] { border: none; }

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus { background: #CE2828 }
a, a:hover, a:focus, a:active { color: #CE2828 }
.label-primary[href]:hover, .label-primary[href]:focus { background: #CE2828 }

.subtle { color: #999 !important }
.subtle.active, .subtle:hover { color: #CE2828 !important }

.btn { text-transform: none }

.btn-primary {
  background-color: #CE2828;
  border-color: #AA1C1C;
  color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #CE2828;
  border-color: #AA1C1C;
}

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
  background-color: #CE2828;
  border-color: #AA1C1C;
}

select[name$='[year]'], select[name$='[month]'], select[name$='[day]'], select[name$='[hour]'], select[name$='[min]'] { display:inline; width: auto } 

.badge, .label-primary { background: #CE2828 }

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: #CE2828;
  border-color: #AA1C1C;
}

.panel-primary > .panel-heading { background-color: #CE2828; }

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {  background-color: #CE2828; }

a.fc-event { text-decoration: none !important; background:  #CE2828; border-color:  #CE2828; }
a.fc-event.no-bookings { opacity: 0.2 }

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus { background: #CE2828; border-color: #CE2828;}

.note-group-select-from-files { display: none }

.list-group-item.active > .badge, .nav-pills > .active > a > .badge { color: #CE2828 }

table a:not(.btn), .table a:not(.btn) { text-decoration: none }