Hi %recipient.firstname%,
<br /><br />
Thanks for attending <%= event.name %>.
<br /><br />
Would you take a minute to <a href="<%=ENV['BASE_URI']%>/events/<%=event.id%>/give_feedback?sign_in_token=%recipient.token%">visit this page and give us feedback on the event</a>, so that we can keep improving?
<br /><br />
With thanks,<br />
<%= event.organisation.name %>