
<% if activity_admin? %>
  <div class="mb-3">
    <%= ul_nav [
      ['View activity', "/activities/#{activity.id}"],
      ['Edit activity', "/activities/#{activity.id}/edit"],      
      (['Applications', "/activities/#{activity.id}/applications"] if activity.privacy == 'closed'),
      [%Q{Members <span class="badge badge-primary">#{activity.activityships.count}</span>}, "/activities/#{activity.id}/members"],
      ['Map', "/activities/#{activity.id}/map"],
      ['Feedback', "/activities/#{activity.id}/feedback"],       
      ].compact, ul_class: 'nav nav-tabs', li_class: 'nav-item', a_class: 'nav-link' %>
  </div>
<% end %>

