<img title="<%=account.name%>" src="<%=account.picture ? account.picture.url : '/images/silhouette.png'%>" style="width: 100px; display: block"/>
<strong><%= account.name %></strong>
<div>
  <%= [
    ('<i title="Admin" class="fa fa-key"></i>' if defined?(membership) and membership.admin?),
    account.gender_symbol,
    account.age,
    account.poc ? 'Person of colour' : nil,
    (pluralize(membership.shifts.count,'shift') if defined?(membership))
    ].compact.join(' &middot; ') %>
</div>