<% form_tag "/h/#{@group.slug}/update_facebook_names" do %>
  <table class="table" style="width: auto">
    <tr>
      <th>Huddl name</th>
      <th>Facebook name</th>
    </tr>
    <% accounts.each { |account|  %>
      <tr>
        <td>
          <%= account.name %>
        </td>
        <td>
          <%= text_field_tag :"facebook_names[#{account.id}]", :class => 'form-control', :value => account.facebook_name %>
        </td>
      </tr>
    <% } %>        
    <tr>
      <td>
      </td>
      <td>
        <%= submit_tag 'Submit', :class => 'btn btn-primary' %>
      </td>
    </tr>      
  </table>
<% end %>