<div class="text-center mt-5">
  
  <span class="hw font-weight-bold" style="margin-right: 0.15rem">A</span>
  <a target="_blank" href="http://stephenreid.net">Created by Stephen Reid</a>

  <i class="fa fa-fw fa-github"></i>
  <a target="_blank" href="https://github.com/stephenreid321/autopia">  
    <span class="nav-link-text">View the code on Github</span>
  </a>   

  <i class="fa fa-fw fa-slack"></i>
  <a target="_blank" href="http://slack.autopia.co/">  
    <span class="nav-link-text">Chat with us on Slack</span>
  </a>          
</div>