
<% unless ENV['BASE_URI'] == 'https://huddl.tech' %>Powered by Huddl &middot;<% end %> 
<i class="fa fa-envelope"></i> <a href="mailto:team@huddl.tech">team@huddl.tech</a>
<i class="fa fa-facebook-official"></i> <a href="https://www.facebook.com/groups/huddl/">/groups/huddl</a>
<i class="fa fa-github"></i> <a href="https://github.com/stephenreid321/huddl">huddl</a>
