
<div style="margin-bottom: 10px">
  <%= partial :group, :object => @group  %>
</div>

<% if @membership %>

  <style>
    #group-header, #group-header li { font-size: 12px }
  </style>
  <div id="group-header">
    <%= ul_nav 'nav nav-pills', [
      ["Home", "/h/#{@group.slug}"],
      ["Members (#{@group.memberships.count})", "/h/#{@group.slug}/members"],
      (["Applications (#{@group.mapplications.pending.count})", "/h/#{@group.slug}/applications"] if @group.enable_applications or @group.mapplications.where(:status.ne => 'accepted').count > 0),        
      (["Teams",
          (
            @group.teams(true).order('name asc').map { |team| [team.name, "/h/#{@group.slug}/teams/#{team.id}"] } + [[],['Overview', "/h/#{@group.slug}/teams"], ['Create a team', "/h/#{@group.slug}/teams/new"]]
          )              
          ] if @group.enable_teams),      
      (["Qualities (#{@group.qualities.count})", "/h/#{@group.slug}/qualities"] if @group.enable_qualities),
      (["Calendar", "/h/#{@group.slug}/calendar"] if @group.teamup_calendar_url),
      (["Timetables",
          (
            @group.timetables(true).map { |timetable| [timetable.name, "/h/#{@group.slug}/timetables/#{timetable.id}"] } + (@membership.admin? ? [[],['Create a timetable', "/h/#{@group.slug}/timetables/new"]] : [])
          )
          ] if @group.enable_timetables),
      (["Rotas",
          (
            @group.rotas(true).map { |rota| [rota.name, "/h/#{@group.slug}/rotas/#{rota.id}"] } + (@membership.admin? ? [[],['Create a rota', "/h/#{@group.slug}/rotas/new"]] : [])
          )              
          ] if @group.enable_rotas),
      (["Tiers (#{@group.tiers.count})", "/h/#{@group.slug}/tiers"] if @group.enable_tiers),
      (["Bookings (#{@group.bookings.count})", "/h/#{@group.slug}/bookings"] if @group.enable_bookings),
      (["Accommodation (#{@group.accoms.count})", "/h/#{@group.slug}/accoms"] if @group.enable_accommodation),
      (["Transport (#{@group.transports.count})", "/h/#{@group.slug}/transports"] if @group.enable_transport),        
      (["Inventory", "/h/#{@group.slug}/inventory"] if @group.enable_inventory),       
      (["Budget", "/h/#{@group.slug}/budget"] if @group.enable_budget),    
      ].compact %>
  </div>

<% end %>