<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Applied on</th>
      <th>Application</th>      
      <th>Proposers, supporters and blockers</th>     
      <% if @membership.admin? %>
        <th></th>
      <% end %>
    </tr>
  </thead>  
  <% @mapplications.order('created_at desc').each { |mapplication| %>
    <tr data-pagelet-url="/mapplication_row/<%=mapplication.id%>">
      <%= partial :mapplication_row, :locals => {:mapplication => mapplication}  %>
    </tr>
  <% } %>
</table>
