<nav class="navbar navbar-light navbar-expand-lg" role="navigation">
  <a class="navbar-brand hw" href="/"><%= ENV['SITE_TITLE'] %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar-collapse"> 

    <% if current_account %>
        <%=
        ul_nav [
          ['Groups',         
            current_account.memberships.sort_by { |membership| membership.group.name }.map { |membership| [membership.group.name, "/h/#{membership.group.slug}"] } + [[], ['Create a group', '/h/new']]
            ],        
          ]
      %>    
      <% end %>

      <%=
      ul_nav [
        ([current_account.name, [
              ['View profile', "/accounts/#{current_account.id}"],
              ['Edit profile', '/accounts/edit'],
              ['Sign out', '/accounts/sign_out'],
            ]
            ] if current_account),
        (['Sign up', '/accounts/sign_up'] if !current_account),
        (['Sign in', '/accounts/sign_in'] if !current_account)
        ], ul_class: 'navbar-nav ml-auto'
    %>

    </div>
  </nav>        


