<a href="<%= notification.link[1] %>"><%= notification.sentence %></a>
<% if notification.type.to_sym == :applied; mapplication = notification.notifiable %>
  <span class="badge <%=mapplication.badge%>"><%=mapplication.status.capitalize%></span>
<% end %>