<a href="<%= notification.link[1] %>"><%= notification.sentence %></a>
<% if notification.type.to_sym == :applied; mapplication = notification.notifiable %>
  <span class="float-right label label-<%=mapplication.label%>"><%=mapplication.status.capitalize%></span>
<% end %>