<% if @group.threshold %>
  <p>    
    Applications are visible to all existing members, and are accepted upon gathering <%=@group.threshold%> proposers + supporters (including at least one proposer).
    <% if @group.democratic_threshold %>
      (This number is decided democratically by all group members.)
    <% end %>    
  </p>
<% else %>
  <p>
    Applications are visible to all existing members.
  </p>      
<% end %>