<% if current_account %>
  <% unless current_account == account %>
    <% if current_account.vibes_as_viber.find_by vibee: account %>
      <% form_tag "/unvibe/#{account.id}" do %>
        <button class="btn <% if Vibe.vibing(current_account, account) %> btn-success <% else %> btn-primary <% end %> <%= btn_class if defined?(btn_class) %>">
          <i class="fa fa-hand-peace-o"></i>
          <% if Vibe.vibing(current_account, account) %>
            Mutual vibes
          <% else %>
            Vibing
          <% end %>
        </button>
      <% end %>
    <% else %>
      <% form_tag "/vibe/#{account.id}" do %>
        <button class="btn btn-outline-primary <%= btn_class if defined?(btn_class) %>">
          <i class="fa fa-hand-peace-o"></i>
          Vibe
        </button>
      <% end %>
    <% end %>
  <% end %>
<% end %>