<div>
  <a class="donate-with-crypto" href="https://commerce.coinbase.com/checkout/56cd73b4-d21e-4ca1-8164-94eb87a0ec3c">
    <span>Pay with Crypto</span>
  </a>
  <script src="https://commerce.coinbase.com/v1/checkout.js"></script>
</div>