<div style="background-image: url(/images/bl.jpeg); background-size: cover; background-position: center; padding: 10em 2em">
  <h1 class="text-center p-3 text-white" style="font-size: 2.2rem; background-color: rgba(0,0,0,0.65)">
    Autopia is a social network emerging from
    <br />
    <span class="rainbow">co-created microfestivals</span> and other real-life gatherings   
  </h1>

  <p class="lead text-center p-3 text-white" style="background-color: rgba(0,0,0,0.65)">
    “You cannot buy the revolution.<br />
    You cannot make the revolution.<br />
    You can only be the revolution.<br />
    It is in your spirit, or it is nowhere.”
    <br />
    ― Ursula K. Le Guin, The Dispossessed
  </p>



</div>

<div class="row mt-5 justify-content-center">
  <div class="col-sm-6 well p-4">
    <h2 class="text-center">Join us</h2>    
    <%= partial :'accounts/new' %>
  </div>
</div>

<h2 class="mt-4 mb-3 text-center">Some of the places that are important to us</h2>

<%= partial :'maps/map', :locals => {:points => @accounts + @places, :global => true} %>

<p class="mt-3 lead text-center" style="font-size: 18px">
  <%= Place.order('name_transliterated asc').pluck(:name).map { |p| p }.join(' &middot; ') %>
</p>  
