
<style>
  h1.section-title  { font-size: 52px; margin: 50px 0; }
  #welcome p {  color: white; }
  .caption { text-align: center }
</style>
<div id="welcome" style="padding: 5%; text-align: center; background-image: url(/images/bl.jpeg); background-size: cover; background-position: center">

  <div style="background: rgba(0,0,0,0.6); padding: 2% 5%">
    <p class="lead" style="font-size: 36px">
      <span class="hw">Huddl</span> is a tool for organising co-created gatherings
    </p>
  
    <p class="lead" style="font-size: 20px">
      Use it to organise stand-alone events, or camps/barrios at larger events like <a href="http://goingnowhere.org/">Nowhere</a> or <a href="http://theborderland.se/">The Borderland</a>
    </p>
  
    <% if current_account %>
      <p>
        <a class="btn btn-primary" href="/h/new">Create a group</a>
      </p>      
    <% else %>
      <p>
        <a class="btn btn-primary" href="/accounts/sign_up">Sign up</a>
      </p>  
      <p>
        Already have an account? <a href="/accounts/sign_in">Sign in</a>
      </p>
    <% end %>
  </div>

</div>

<h1 class="section-title" style="text-align: center;">Features</h1>

<div class="row">
  
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="/images/features/applications.png"/>
      <div class="caption">
        <h3>Applications</h3>
        <p>Receive applications and choose to let all existing group members have a say over who's accepted</p>
      </div>
    </div>
  </div>    
  
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="/images/features/payments.png"/>
      <div class="caption">
        <h3>Payments</h3>
        <p>Integrated payments system<br /><br /></p>
      </div>
    </div>
  </div>
  
  
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="/images/features/teams.png"/>
      <div class="caption">
        <h3>Teams</h3>
        <p>Slack/Facebook inspired chat for teams<br /><br /></p>
      </div>
    </div>
  </div>     
  
</div>

<div class="row">
  
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="/images/features/timetables.png"/>
      <div class="caption">
        <h3>Timetables</h3>
        <p>Timetables with drag-and-drop interface<br /><br /></p>
      </div>
    </div>
  </div> 
  
  
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="/images/features/rotas.png"/>
      <div class="caption">
        <h3>Rotas</h3>
        <p>Let people volunteer for shifts<br /><br /></p>
      </div>
    </div>
  </div>   
  
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="/images/features/budget.png"/>
      <div class="caption">
        <h3>Budget</h3>
        <p>Live budget taking into account low/high income tiers, accommodation, transport and spending</p>
      </div>
    </div>
  </div>   
  
</div>

<p class="lead" style="text-align: center; margin: 50px 0; margin-top: 30px">
  Also featuring accommodation, transport, qualities, newsfeed and more
</p>


<hr style="margin: 50px 0" />
<h1 class="section-title" style="text-align: center;">Pricing</h1>
  
<div class="row">
  
  <div class="col-sm-4 col-sm-offset-1">
    <p style="text-align: center; font-size: 48px">
      <strong>Free to use</strong>
    </p>
  </div>
  
  <div class="col-sm-2">
    <p style="text-align: center; font-size: 48px">
      <strong>+</strong>
    </p>    
  </div>    
  
  <div class="col-sm-4">
    <p style="text-align: center; font-size: 21px">
      <strong>
If you choose to take payments through Huddl's awesome integrated payments system, we take 5%
      </strong>
    </p>      
    <p style="text-align: center;">
      (that's less than <a href="https://www.eventbrite.co.uk/fees/">Eventbrite</a>, which is at least 5.5%)        
    </p>
  </div>  
  
</div>

<hr style="margin: 50px 0" />
<h1 class="section-title" style="text-align: center;">Groups using <span class="hw">huddl</span></h1>

<div class="row">
  
  <% Group.where(:featured => true).each { |group| %>
    <div class="col-sm-4">
      <%= partial :group, :object => group  %>
    </div>
  <% } %>

</div>

<hr style="margin: 50px 0" />
<h1 class="section-title" style="text-align: center; margin-bottom: 20px">Let the co-creation begin!</h1>

<p style="font-size: 28px; text-align: center">
  <a style="font-weight: bold" href="/h/imaginary-gathering">Apply to join an example group</a> or <a style="font-weight: bold" href="/h/new">create a group</a>
</p>


