<h1 class="text-center">
  Autopia is the social network for people co-creating
  <br />
  <span class="rainbow">the more beautiful world our hearts know is possible</span>
</h1>

<div class="text-center mt-4">
  <p>
    <a class="btn btn-primary btn-lg" href="/accounts/sign_up">Sign up</a>
  </p>  
  <p>
    Already have an account? <a href="/accounts/sign_in">Sign in</a>
  </p>
</div>

<h2 class="mt-4 text-center">Some of the places that are important to us</h2>

<p class="lead text-center" style="font-size: 15px">
  <%= Place.pluck(:name).sort.map { |p| p }.join(' &middot; ') %>
</p>  

<%= partial :'maps/map', :locals => {:points => @accounts + @places, :global => true} %>
