
<a class="btn btn-primary mb-2 mr-2" href="/a/new"><i class="fa fa-plus-circle"></i> Create a group</a>
<a class="btn btn-primary mb-2" href="/habits"><i class="fa fa-plus-circle"></i> Add a habit</a>

<div class="row">
  <div class="col-sm-8">

    <style>.group h1 { font-size: 26px }</style>

    <% if current_account.memberships.count > 0 %>

      <h2>Your groups</h2>

      <div class="row">

        <% current_account.memberships.sort_by { |membership| membership.group.notifications.order('created_at desc').first.try(:created_at).try(:to_i) or 0 }.reverse.each { |membership| group = membership.group %>
          <div class="col-6 col-sm-4 mb-4">
            <%= partial :'groups/group', :object => group  %>
          </div>
        <% } %>

      </div>  

    <% end %>   

    <div style="margin-bottom: 10px">
      <h2>Online now</h2>
      <div class="image-wall">
        <% current_account.network.where(:last_active.gt => 5.minutes.ago).each { |account| %>
          <%= partial :'accounts/square', :locals => {:account => account, :content => (if account.last_active; "#{time_ago_in_words account.last_active} ago"; end), :width => '75px'} %>
        <% } %>
      </div>
    </div>

  </div>  
  <div class="col-sm-4">
    <%= partial :'groups/newsfeed', :locals => {:notifications => @notifications, :include_group_name => true} %>
  </div>
</div>
