<div class="row">

  <% Group.all.each { |group| %>
    <div class="col-sm-4">
      <%= partial :group, :object => group  %>
    </div>
  <% } %>

  <div class="col-sm-4">
    <div style="margin-bottom: 10px; height: 200px; position: relative">          
      <h1 style="position: absolute; bottom: 0; left: 10px;">
        <a href="/h/new">Create a Huddl</a>
      </h1>
    </div>      

  </div>  

</div>