<% if current_account %>
  <% if current_account.location %>
    <p>Current location: <a href="javascript:;" onclick="$(this).parent().hide().next().show().find('input').focus()"><%= current_account.location %></a></p>
  <% end %>
  <% form_tag '/accounts/update_location', :class => 'mb-3', :style => ('display: none' if current_account.location) do %>

    <script>
      $(function () {
      var autocomplete = new google.maps.places.Autocomplete($('#location')[0]);
      google.maps.event.addListener(autocomplete, 'place_changed', function () {
      $('#location')[0].form.submit()
      });
      })
    </script>

    <%= text_field_tag :location, :id => 'location', :class => 'form-control', :placeholder => 'Enter your location' %>
  <% end %>
<% end %>

<%= partial :'maps/map', :locals => {:points => @accounts} %>