<script>
  $(function () {
    $('.promoter').hover(
            function () { $('.promoter-edit', this).show() },
            function () { $('.promoter-edit', this).hide() },
    )
  })
</script>
<div class="row" id="promoters">
  <% promoters.each { |promoter| %>
  <div data-pagelet-url="/promoters/<%=promoter.id%>/block" class="promoter col-6 col-sm-3 mb-3 <%=block_class if defined?(block_class)%>" id="<%=promoter.id%>">
    <%= partial :'promoters/block', :locals => {:promoter => promoter} %>
  </div>
  <% } %>
</div>
