<h1 class="mb-3">Get help on the <%=@feature.name%> feature <small class="text-muted">Ask a question or make a suggestion about this feature</small></h1>

<div data-pagelet-url="/commentable?commentable_type=Feature&commentable_id=<%=@feature.id%>">
  <%= partial :'comments/commentable', :locals => {:commentable => @feature} %>
</div> 