
<div data-pagelet-url="/habits">
  <%= partial :'habits/habits' %>
</div>

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="my-habits-tab" data-toggle="tab" href="#my-habits" role="tab" aria-controls="home" aria-selected="true">My habits</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="network-habits-tab" data-toggle="tab" href="#network-habits" role="tab" aria-controls="profile" aria-selected="false">Network</a>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane fade show active" id="my-habits" role="tabpanel" aria-labelledby="my-habits-tab">
    <% @dates.each { |date| %>
      <h3 class="mt-3"><%=date.to_s(:no_year)%></h3>  
      <% if current_account.habit_completions.where(date: date).count == 0 %>
        <em>No habits completed on this day</em>
      <% end %>
      <ul class="fa-ul">
        <% @habits.order('o asc').each { |habit| %>
          <% if habit.habit_completions.find_by(:date => date) %>
            <li>
              <% if habit.public? %>
                <i class="fa fa-li fa-check"></i>
              <% else %>
                <i class="fa fa-li fa-lock"></i>
              <% end %>
              <%= habit.name %>
            </li>  
          <% end %>
        <% } %>
      </ul>
    <% } %>

  </div>
  <div class="tab-pane fade" id="network-habits" role="tabpanel" aria-labelledby="network-habits-tab">
    <%= partial :'habits/log' %>
  </div>
</div>