<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">    
    <style>
      p, ul, ol, input, select, .form-control, body, blockquote { font-family: 'Roboto', sans-serif; font-size: 16px }
      h1, h2, h3, h4, h5, h6, .h { font-family: 'Roboto', sans-serif; }      
      blockquote { border-left: 8px solid #eee; padding-left: 1em }
    </style>    
  </head>
  <body>

    <div style="background: #F8F9FA; padding: 20px;">

      <div style="max-width: 600px; margin: 0 auto; background: white;">
        <div style="padding: 20px;">
          <%= content %>
        </div>
      </div>
    </div>

  </body>
</html>