<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">    
    <style>
      p, ul, ol, input, select, .form-control, body, blockquote { font-family: 'Roboto', sans-serif; font-size: 16px }
      h1, h2, h3, h4, h5, h6, .h { font-family: 'Roboto', sans-serif; }      
      blockquote { border-left: 8px solid #F8F9FA; padding-left: 1em }
    </style>    
  </head>
  <body style="font-size: 16px; font-family: 'Roboto', sans-serif; background-color: #F8F9FA">

    <div style="max-width: 650px; margin: 0 auto;">
      <div style="background: white; padding: 16px; margin: 0 16px; border: 1px solid #f2f2f2; border-radius: 4px">      
        <%= content %>
      </div>
    </div>

  </body>
</html>