<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">    
    <style>
      img { max-width: 100% }
      .password { font-size: 200%; font-weight: bold; }     
    </style>
  </head>
  <body style="font-size: 16px; font-family: 'Roboto', sans-serif; background-color: #F8F9FA">

    <div style="text-align: center">
      <a href="<% pmail.organisation.website || "https://autopia.co/organisations/#{pmail.organisation_id}" %>"><img src="<%= pmail.organisation.image.url %>" style="max-width: 100px; padding: 16px"></a>
    </div>

    <div style="max-width: 650px; margin: 0 auto;">
      <div style="background: white; padding: 16px; margin: 0 16px; border: 1px solid #f2f2f2; border-radius: 4px">      
        <%=
        markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true, tables: true)
        markdown.render(pmail.body)      
      %>
      </div>
    </div>

    <div style="padding: 16px; text-align: center;">
      <small>
        <a style="color: #647386; text-decoration: none" href="https://autopia.co">Sent with Autopia</a>
        &middot;
        <a style="color: #647386; text-decoration: none" href="https://autopia.co/u/%recipient.username%?sign_in_token=%recipient.token%">View your profile</a>
        &middot;
        <a style="color: #647386; text-decoration: none" href="https://autopia.co/accounts/unsubscribe?sign_in_token=%recipient.token%">Unsubscribe</a>
      </small>
    </div>

  </body>
</html>
