<div style="margin-bottom: 15px">
  <h2 style="margin-top: 0">
    Co-creators
    <small>
      <% if @group.member_limit %>
        <span class="label label-primary"><%=@group.memberships.count%>/<%= @group.member_limit %></span>
      <% else %>
        <span class="label label-primary"><%=@group.memberships.count%></span>
      <% end %>
    </small>
  </h2>
  <div class="image-wall">
    <% (Account.where(:id.in => @group.memberships.pluck(:account_id)).where(:picture_uid.ne => nil).shuffle + Account.where(:id.in => @group.memberships.pluck(:account_id)).where(:picture_uid => nil).shuffle).each { |account| %>
      <%= partial :'accounts/square', :locals => {:account => account, :width => '50px'} %>
    <% } %>      
  </div>
</div>