
<% if current_account %>
  <% unless current_account == account %>
    <div class="d-inline-block" data-pagelet-url="/vibes/<%=account.id%>">
      <%= partial :vibe, :locals => {:account => account} %>
    </div>
  <% end %>
<% end %>

<% unless current_account == account %>
  <a href="/messages/<%=account.id%>" class="btn btn-outline-primary"><i class="ti-comment"></i> Message</a>
<% end %>