<% c = @account.placeship_categories.count %>
<% if c == 0 %>
  <%= partial :'places/blocks', :locals => {:places => Place.where(:id.in => @account.placeships.pluck(:place_id)).shuffle} %>        
<% else %>
  <% (@account.placeship_categories + [@account.placeships.where(:placeship_category_id => nil)]).each_with_index { |placeship_category, i| %>    
    <% placeships = (i < c ? placeship_category.placeships : @account.placeships.where(:placeship_category_id => nil)) %>
    <% if placeships.count > 0 %>
      <div class="placeship_category card" style="border-bottom-width: 0; border-radius: 0; <% if i == 0 %>border-top-left-radius: 5px; border-top-right-radius: 5px; <% end %>">
        <div class="card-header">
          <h4 class="mb-0">
            <% if i < c  %>
              <a class="text-dark" href="/placeship_categories/<%=placeship_category.id%>/edit"><%=placeship_category.name%></a>
            <% else %>
              Uncategorised
            <% end %>
          </h4>
        </div>      
        <div class="card-body pb-0">
          <%= partial :'places/blocks', :locals => {:places => Place.where(:id.in => placeships.pluck(:place_id)).shuffle} %>        
        </div>
      </div> 
    <% end %>
  <% } %>
  <script>
    $(function () {
      $('.placeship_category.card').last().css('border-bottom-width', '1px').css('border-bottom-left-radius', '5px').css('border-bottom-right-radius', '5px')
    })
  </script>
<% end %>