<div class="row justify-content-center">
  <div class="col-sm-6">

    <div class="card"> 
      <div class="card-header text-white bg-primary">
        <h2 class="text-center my-0">Become an Autopian</h2>    
      </div>
      <div class="card-body">
        <%= partial :'accounts/new'  %>
      </div>
    </div>

  </div>
</div>